
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(220, 60%, 96%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(241, 239, 248);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app{
  background: transparent radial-gradient(closest-side at 50% 50%, #58687E 0%, #39495E 100%) 0% 0%;

}
.sec1{
  background: transparent radial-gradient(closest-side at 50% 50%, #58687E 0%, #39495E 100%) 0% 0%;
}
.click1{
  background-color: #273D49CC;
  align-items: center;
  align-content: center;
  text-align: right;
  margin: 2.5px;
  border-radius: 15px;
  border-color: #39495E;
}
.table{
  align-items: center;
  align-content: center;
  text-align: center;
  background: transparent radial-gradient(closest-side at 50% 50%, #58687E 0%, #39495E 100%) 0% 0%;
}
.delete{
  color: black;
}
.popbox{
  height: 400px;
  width: 1100px;
}
.logomain{
  position: relative;
  left: 30%;
  top: 5px;
  align-items: center;
  justify-self: center;
text-align: center;
margin-top: 13px;
}
.logomain1{
  text-align: left;
  margin-left: 10px;
  }
  .invoice{
    font-size: 25px;
    color: beige;
    margin-left: 10px;
    border: #39495E;
    margin-bottom: 0px;
    margin-top: 5px;
  }
  .box{
    border: #61dafb00;
    border-radius: 12px;
  }
  .poptext{
    position: relative;
    text-align: center;
    align-items: center;
    align-content: center;
  }
  .MuiTextField-root{
    background-color: rgba(0, 0, 255, 0);
    border: #58687E;
    border-radius: 5px;
    border-width: 2px;
  }
  .MuiButton-root	{
    color: rgb(0, 0, 0) !important;
  }
  .MuiInput-root	{
    padding-top: 12px !important;
  }
  .css-10botns-MuiInputBase-input-MuiFilledInput-input{
    padding-top: 12px !important;
    border: 3 !important;
    height: 2em !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  }
  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #dae4ea00 !important;
    padding-bottom: 1px !important;
    margin-bottom: 3px !important;
    padding-top: 1px !important;
    border: 3px !important;
    border-color: #61dafb00 !important;
    line-height: 3 !important;
    position: relative !important;
    top : 15px !important;  
  }
  .css-1qtu9q6-MuiButtonBase-root-MuiButton-root{
    background-color: #13273300 !important;
    padding-bottom: 1px !important;
    margin-bottom: 3px !important;
    line-height: 2.50 !important;

  }
  .css-1kuq5xv-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
    color: rgb(0, 0, 0) !important;
  }
  .css-1kuq5xv-MuiButtonBase-root-MuiIconButton-root {
    color: black !important;
    position: relative !important;
    top : 15px !important; 

  }
  .css-bpg8fg-MuiFormLabel-root-MuiInputLabel-root{
    font-size: 0.7rem;
  }
  .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    background-color: #b6bbbd !important;


  }
  .date{
    width: 100px;
    height: 200px;
  }
  
  .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{
    color:#9c6938 !important ;
  }
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    font: menu !important;

  }
  .css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    
    border: 0px !important;

  }
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 20px 17px !important;
  }
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    margin: 10px !important;
  }
  .css-1e6y48t-MuiButtonBase-root-MuiButton-root
  {
    position: relative !important;
    top : 7px !important;

  }
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    overflow-y: clip !important;
    width: 400px !important;
    height: 500px !important;
    background-color: #556172 !important;
    color: rgb(255 255 255 / 87%);
  }
  .css-hlj6pa-MuiDialogActions-root>:not(:first-of-type){
    position: relative !important;
    top: 5px !important;
    border-color: #798391 !important;
    border-radius: 3px !important;
  }
  .policy{
    background-color: #39495E;
    margin : 0px !important;
    color: #ffffff;
    padding: 10px !important;
    text-align: center;

  }
  .button1{
    background-color: #39495e00;
    border: 0px;
    color: #0901fc;
    font-size: medium;
  }